.nirfPage-heading {
  color: rgb(85, 85, 85);
}

.nirfPage-list {
  list-style-type: none;
}

.nirfPage-list-item {
  background-color: #f7f7f7;
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nirfPage-download-btn {
  border: none;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
  color: rgb(107, 107, 107);
}

.nirfPage-download-btn:hover {
  background-color: #267264;
  color: white;
}

.nirfPage-date {
  color: red;
}

.nirfPage-link-item {
  text-align: justify;
  padding-right: 0.5rem;
}

.nirfPage-link-item:hover {
  text-decoration: underline;
}

.nirfPage-pagination {
  list-style-type: none;
  display: flex;
}

.nirfPage-pageNumber:hover {
  background-color: #267264 !important;
  color: white !important;
}

.nirfPage-pageNumber:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nirfPage-iqacIcon {
  border: none;
  font-size: 0.8rem;
  padding: 0.7rem 1rem;
  color: rgb(107, 107, 107);
}

.nirfPage-link {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.nirfPage-downloadtext {
  margin-right: 0.3rem;
}

@media only screen and (max-width: 700px) {
  .NirfPage-pageNumber {
    font-size: 0.7rem !important;
  }

  .nirfPage-pagination {
    padding-left: 0;
  }

  .nirfPage-downloadtext {
    display: none;
  }

  .nirfPage-link-item {
    font-size: 0.7rem;
  }

  .nirfPage-heading {
    font-size: 1rem;
    margin-left: 0 !important;
  }
}

.nirfPage-tabs {
  background-color: #ececec;
}

.nirfPage-tabs .nav-link {
  border-radius: 0 !important;
}

.nirfPage-tabs .active {
  color: #f7f7f7 !important;
}
